<mat-toolbar *ngIf="this.authService.isAuthentication()">
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
         <mat-icon>menu</mat-icon>
       </button> -->
    <span>Crops System</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" matTooltip="Logout" (click)="this.authService.logout()">
        <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>