<div class="center-content">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>Login/Register</mat-card-title>
            <mat-card-subtitle>Crops System</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-tab-group dynamicHeight>
                <mat-tab label="Login">
                    <app-login></app-login>
                </mat-tab>
                <mat-tab label="Register">
                    <app-register></app-register>
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
    </mat-card>
</div>